.projects {
  width: 100%;
  flex-direction: column;
  gap: 8rem;
  height: 150rem;
  justify-content: flex-start;
  .ptop {
    justify-content: space-between;
    width: 95vw;
    max-width: 130rem;
    .headTop {
      gap: 2rem;
      margin-top: 0;
      margin-bottom: -15rem;
      margin-left: 0;
    }
    a {
      font-size: 1.6rem;
      color: gray;
      padding-top: 30%;
    }
  }
}

@media (max-width: 900px) {
  .ptop {
    width: 100vw !important;
    padding-right: 1rem;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    a {
      padding-top: 1rem !important;
    }
  }
}

@media (max-width: 768px) {
  .projects {
    height: 130rem;
  }
}
