.head {
  height: 39.5rem;
}
.head,
.headTop,
.head > .span {
  pointer-events: none;
  font-size: 14rem;
  font-weight: 500;
  overflow: hidden;
  margin-top: 5rem;
  line-height: 6rem;
  text-transform: uppercase;
}
.head > .span {
  padding-left: 13rem;
}

.downCircle {
  width: 120px;
  height: 120px;
  border: 2px solid #a5a3a3;
  border-radius: 50%;
  margin-left: 4rem;
}

@media (max-width: 1000px) {
  .head,
  .headTop,
  .head > .span {
    font-size: 13vw;
    line-height: 3vh;
  }
  .span {
    padding-left: 14vw !important;
  }
  .head {
    height: 39vh;
  }
}

@media (max-width: 768px) {
  .head,
  .headTop,
  .head > .span {
    line-height: 3vh;
  }
  .head {
    height: 25vh !important;
  }
  .downCircle {
    width: 60px !important;
    height: 60px !important;
    margin-left: 0;
    svg {
      width: 30px !important;
      height: 30px !important;
    }
  }
}

@media (max-width: 550px) {
  .head,
  .headTop,
  .head > .span {
    line-height: 1.5vh;
  }
  .head {
    height: 15rem !important;
  }
  .downCircle {
    width: 50px !important;
    height: 50px !important;
    svg {
      width: 20px !important;
      height: 20px !important;
    }
  }
}
