@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

$accent: #14cf93;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  overflow-x: hidden;
}

*::selection {
  background: $accent;
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: $accent;
}

html,
body {
  width: 100%;
  background: #fcfaf8;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.absoluteCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mousefollower {
  color: #000 !important;
}

.box {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #eb306c;
  z-index: 9999999999;
  pointer-events: none;
  position: absolute;
  display: block;
  opacity: 0;
  mix-blend-mode: difference;
}

@media (max-width: 768px) {
  .box {
    display: none !important;
  }
}

#root {
  display: block;
  margin: auto;
}
